html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  text-align: center;
}

.mat-form-field-outline {
  background: #3f51b5;
  color: white;
}
.mat-form-field-outline-thick .input.mat-input-element {
  color: white;
}

.mat-form-field-wrapper {
  padding-bottom: 0em;
}

.mat-form-field-flex {
  min-height: 50px;
}

thead th {
  max-width: 50px;
}
td mat-form-field{
  width: 100%;
}

app-simulator-table {
  width: 100%;
}

mat-cell, mat-header-cell, mat-footer-cell {
  justify-content: center;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
   padding-left: 0px !important;
}

.mat-elevation-z8 {
  box-shadow: none;
}

app-patient-and-drugs {
  padding: 2em;
}
