<div *ngIf="patientsError$ | async as errorMessage">
  {{ errorMessage }}
</div>

<div class="mainActions">
  <button mat-raised-button color="primary" class="done" (click)="retrievePatientAndDrugs()">
    <mat-icon>done</mat-icon>
    Retrieve patients and drugs
  </button>
  <button mat-raised-button color="primary" class="done" (click)="autoRetrievePatientAndDrugs()">
    <mat-icon>done</mat-icon>
    Automatic Refresh
  </button>
</div>

<form [formGroup]="drugsFormTableSimulator">
  <table class="table table-border">
    <thead class="text-nowrap">
    <th class="index">
      Index
    </th>
    <th>
      Drugs Name
    </th>
    <th *ngFor="let column of PATIENT_MAP | keyvalue" class="numFields">
      {{column.value}}
    </th>
    </thead>
    <tbody>
    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">

      <tr [formGroupName]="i" class="formRows">

        <td>
          {{i}}
        </td>

        <td>
          <mat-form-field class="full-width">
            <mat-select formControlName="drugs" multiple>
              <mat-option *ngFor="let drug of DRUGS_MAP | keyvalue" [value]="drug.value">
                  {{drug.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-error *ngIf="group?.get('drugs')?.hasError('required')">
            Select at least on Drug
          </mat-error>

          <mat-error
            *ngIf="!group?.get('drugs')?.hasError('required') && group?.get('drugs')?.hasError('invalidDrugs')">
            Wrong Drugs Combination
          </mat-error>

          <mat-error
            *ngIf="!group?.get('drugs')?.hasError('required') && group?.get('drugs')?.hasError('invalidDrugsAmount')">
            Wrong Drugs Amount
          </mat-error>
        </td>
        <td>
          <mat-form-field class="numFields">
            <input matInput type="number" formControlName="Fever">
            <mat-error *ngIf="group?.get('Fever')?.hasError('min')">
              Less that one Patient not Allowed
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="numFields">
            <input matInput type="number" formControlName="Healthy">
            <mat-error *ngIf="group?.get('Healthy')?.hasError('min')">
              Less that one Patient not Allowed
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="numFields">
            <input matInput type="number" formControlName="Diabetic">
            <mat-error *ngIf="group?.get('Diabetic')?.hasError('min')">
              Less that one Patient not Allowed
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="numFields">
            <input matInput type="number" formControlName="Tuberculosis">
            <mat-error *ngIf="group?.get('Tuberculosis')?.hasError('min')">
              Less that one Patient not Allowed
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="numFields">
            <input matInput type="number" formControlName="Dead">
            <mat-error *ngIf="group?.get('Dead')?.hasError('min')">
              Less that one Patient not Allowed
            </mat-error>
          </mat-form-field>
        </td>
        <td colspan="2" class="actions">
          <div>
            <button mat-raised-button color="primary" class="done" (click)="deleteRow(i)">
              <mat-icon>delete_forever</mat-icon>
              Delete
            </button>
            <button mat-raised-button [disabled]="group.invalid" color="primary" class="done" (click)="runSimulator(i)">
              <mat-icon>done</mat-icon>
              Administer the drugs
            </button>
          </div>
        </td>
      </tr>
      <tr class="simulate">
        <td colspan="7">
            <app-drug-simulator [simulationRows]="beforeAndAfterReports"
                                [parentOrder]="i">
            </app-drug-simulator>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</form>

