<div class="example-container mat-elevation-z8" *ngIf="simulationRows.length">
  <mat-table  [dataSource]="dataSource">
    <div *ngFor="let col of displayedColumns">
      <ng-container matColumnDef={{col}}>
        <mat-header-cell *matHeaderCellDef > {{col}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[col]}} </mat-cell>
      </ng-container>
    </div>
    <mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
